In [2]:
import pandas as pd
data = pd.read_csv('lsddata.csv')

In [3]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [4]:
type(data)

pandas.core.frame.DataFrame

In [9]:
onlyMathScores = data['Avg_Math_Test_Score']

In [10]:
print(onlyMathScores)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [11]:
onlyMathScores[1]

58.2

In [12]:
data['High Scores'] = 100

In [15]:
data['High Scores'] = data['High Scores'] ** 2

In [16]:
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High Scores
0                      5     1.17                78.93    100000000
1                     15     2.97                58.20    100000000
2                     30     3.26                67.47    100000000
3                     60     4.69                37.47    100000000
4                    120     5.83                45.65    100000000
5                    240     6.00                32.92    100000000
6                    480     6.41                29.97    100000000

In [17]:
type(data['High Scores'])

pandas.core.series.Series